header {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 2.2em;
  font-family: 'et-book', serif;
  font-weight: 400;
}

footer {
  margin-top: 2em;
  text-align: center;
  font-size: 1em;
  color: #888;
  font-family: 'et-book', serif;
}
