
.site-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.site-logo {
  height: 160px;
  width: auto;
  vertical-align: middle;
}

.site-title {
  margin: 0;
  font-size: 2.2em;
  font-family: 'et-book', serif;
  font-weight: 400;
}

footer {
  margin-top: 2em;
  text-align: center;
  font-size: 1em;
  color: #888;
  font-family: 'et-book', serif;
}
